@using Jay.Core.Application.Enums
@using Jay.Core.Application.ViewModels.Comment
@using Jay.Core.Application.ViewModels.Post;
@using Jay.Core.Application.ViewModels.User;
@model PostViewModel
@using Jay.Core.Application.Helpers
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContext;
@{
    Layout = "~/Views/Shared/_JayLayout.cshtml";
    IHttpContextAccessor _httpContext = httpContext;
    UserViewModel _user = _httpContext.HttpContext.Session.Get<UserViewModel>("user");
    ViewData["Title"] = "Eliminar publicacion";

}


            @*///////////////////////////Center Contents*@
            <div class="col-md-9 gedf-main">

                    <!--- \\\\\\\Post-->
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="@Model.User.ProfilePicture" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@Model.User.Name @Model.User.LastName</div>
                                        <div class="h7 text-muted">@Model.User.UserName</div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            @{
                        string date = Stuff.SetDate(Model.Created);
                        
                    }
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> @date</div>
                            <a asp-controller="Posts" asp-action="Post" asp-route-id="@Model.Id" class="card-link">
                                <h5 class="card-title">@Model.PostTitle</h5>
                            </a>

                            <p class="card-text">
                               @Model.PostText
                            </p>
                            @if (Model.MediaUrl != null)
                            {
                                <div style="align-content: center;">
                                    @{
                                        string[] mediaurlarr = Model.MediaUrl.Split(".");
                                        string ext = mediaurlarr[^1];
                                    }
                                    @switch (Model.MediaType)
                                    {
                                        case (int)MediaType.Image:
                                            <img src="@Model.MediaUrl" class="img-fluid" alt="...">
                                            break;

                                        case (int)MediaType.Video:
                                            <video style="width: 100%; height:auto;" controls>
                                                <source src="@Model.MediaUrl" type="video/@ext">
                                                Tu navegador no soporta el formato de video
                                            </video>
                                            break;
                                    }

                                </div>
                            }

                            <form method="post" asp-action="Delete" asp-controller="Posts">

                                <div>
                                    <h5 class="card-title">¿Estas seguro que quieres eliminar esta publicacion? Esta accion no se puede deshacer</h5>
                                </div>

                                <div class="form-group">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancelar</a>
                               
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </div>


                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="PostTitle" />
                                <input type="hidden" asp-for="PostText" />
                                <input type="hidden" asp-for="MediaType" />
                                <input type="hidden" asp-for="MediaUrl" />
                                <input type="hidden" asp-for="Created" />
                                <input type="hidden" asp-for="UserId" />
                            </form>
                        </div>
                    </div>
                    <!-- Post /////-->

            


            </div>