@using Jay.Core.Application.Enums
@using Jay.Core.Application.ViewModels.Comment
@using Jay.Core.Application.ViewModels.Post;
@using Jay.Core.Application.ViewModels.User;
@model PostViewModel
@using Jay.Core.Application.Helpers
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContext;
@{
    Layout = "~/Views/Shared/_JayLayout.cshtml";
    IHttpContextAccessor _httpContext = httpContext;
    UserViewModel _user = _httpContext.HttpContext.Session.Get<UserViewModel>("user");
    ViewData["Title"] = "Editar publicacion";

    bool errFormat = ViewBag.ErrFormat;
}

            @*///////////////////////////Center Contents*@
            <div class="col-md-9 gedf-main">

                    <!--- \\\\\\\Post-->
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="@Model.User.ProfilePicture" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@Model.User.Name @Model.User.LastName</div>
                                        <div class="h7 text-muted">@Model.User.UserName</div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            @{
                        string date = Stuff.SetDate(Model.Created);
                        
                    }
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> @date</div>
                            <a asp-controller="Posts" asp-action="Post" asp-route-id="@Model.Id" class="card-link">
                                <h5 class="card-title">@Model.PostTitle</h5>
                            </a>

                            <p class="card-text">
                               @Model.PostText
                            </p>
                            @if (Model.MediaUrl != null)
                            {
                                <div style="align-content: center;">
                                    @{
                                        string[] mediaurlarr = Model.MediaUrl.Split(".");
                                        string ext = mediaurlarr[^1];
                                    }
                                    @switch (Model.MediaType)
                                    {
                                        case (int)MediaType.Image:
                                            <img src="@Model.MediaUrl" class="img-fluid" alt="...">
                                            break;

                                        case (int)MediaType.Video:
                                            <video style="width: 100%; height:auto;" controls>
                                                <source src="@Model.MediaUrl" type="video/@ext">
                                                Tu navegador no soporta el formato de video
                                            </video>
                                            break;
                                    }

                                </div>
                            }

                            <form enctype="multipart/form-data" method="post" asp-action="Edit" asp-controller="Posts">
                                <div class="form-group">
                                    <input type="text" class="form-control" asp-for="PostTitle" required />
                                </div>

                                <div class="form-group">
                                  <textarea asp-for="PostText" class="form-control" placeholder="Contenido del Post" id="floatingTextarea" required></textarea>
                                </div>

                                <div class="form-group">
                                    @if(errFormat){
                                    <span class="text-danger">Formato de archivo no soportado. <br>Archivos de imagen soportados: .jpg .jpeg .png .gif. <br>Formatos de video soportados: .mp4 .flv .mkv</span>
                                    }
                                    <div class="custom-file">
                                        <input name="media" type="file" class="custom-file-input" id="postMedia" name="postMedia">
                                        <label class="custom-file-label" for="postMedia">Subir Multimedia</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>

                                <input type="hidden" asp-for="Id" />
                            </form>
                        </div>
                    </div>
                    <!-- Post /////-->

            


            </div>