@using Jay.Core.Application.Enums
@using Jay.Core.Application.ViewModels.Comment
@using Jay.Core.Application.ViewModels.User;
@using Jay.Core.Application.ViewModels.Friend;
@using Jay.Core.Application.ViewModels.Post;
@using Jay.Core.Application.Interfaces.Services;
@model UserViewModel
@using Jay.Core.Application.Helpers
@using Microsoft.AspNetCore.Http;
@inject IUserService _userService
@inject IHttpContextAccessor httpContext;
@{
    Layout = "~/Views/Shared/_JayLayout.cshtml";
    IHttpContextAccessor _httpContext = httpContext;
    UserViewModel _user = _httpContext.HttpContext.Session.Get<UserViewModel>("user");
    ViewData["Title"] = Model.UserName;


    int postNumber = Model.Posts.Count;
    int commNumber = Model.Comments.Count;
    List<int> frs = await _userService.GetFriendsArray();
}


            @*///////////////////////////Center Contents*@
            <div class="col-md-9 gedf-main">

                 <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="200" src="@Model.ProfilePicture" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h3 m-0">@Model.Name @Model.LastName</div>
                                    <div class="h5 text-muted">@Model.UserName</div>
                                    <div class="h6 text-dark">Publicaciones: @postNumber</div>
                                    <div class="h6 text-dark">Comentarios: @commNumber</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (_user.Id != Model.Id)
                    {
                            if (!frs.Contains(Model.Id))
                            {
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <button class="btn btn-outline-primary" onclick="AddFriend(@Model.Id)">Añadir Amigo</button> 
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <button class="btn btn-outline-secondary" disabled>Son amigos</button> 
                                    </div>
                                </div>
                            }
        }
                    </div>
                <!-- Post /////-->


            @foreach(PostViewModel post in Model.Posts)
            {
                <!--- \\\\\\\Post-->
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="@post.User.ProfilePicture" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@post.User.Name @post.User.LastName</div>
                                        <div class="h7 text-muted">@post.User.UserName</div>
                                    </div>
                                </div>
                                <div>
                                @if (post.UserId == _user.Id)
                                {
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                            <div class="h6 dropdown-header">Opciones</div>
                                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="dropdown-item">Editar</a>
                                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="dropdown-item text-danger">Eliminar</a>
                                        </div>
                                    </div>
                                }
                        </div>
                            </div>

                        </div>
                        <div class="card-body">
                    @{
                        string date = Stuff.SetDate(post.Created);
                        
                    }
                            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> @date</div>
                            <a asp-controller="Posts" asp-action="Post" asp-route-id="@post.Id" class="card-link">
                                <h5 class="card-title">@post.PostTitle</h5>
                            </a>

                            <p class="card-text">
                               @post.PostText
                            </p>
                            @if (post.MediaUrl != null)
                            {
                                <div style="align-content: center;">
                                    @{
                                        string[] mediaurlarr = post.MediaUrl.Split(".");
                                        string ext = mediaurlarr[^1];
                                    }
                                    @switch (post.MediaType)
                                    {
                                        case (int)MediaType.Image:
                                            <img src="@post.MediaUrl" class="img-fluid" alt="...">
                                            break;

                                        case (int)MediaType.Video:
                                            <video style="width: 100%; height:auto;" controls>
                                                <source src="@post.MediaUrl" type="video/@ext">
                                                Tu navegador no soporta el formato de video
                                            </video>
                                            break;
                                    }

                                </div>
                            }
                        </div>
                        <div class="card-footer">

                            <form method="post" asp-controller="Home" asp-action="AddComment">
                                <div class="d-flex align-items-center">
                                    <div class="mr-2 mb-3">
                                        <img class="rounded-circle" width="40" src="@_user.ProfilePicture" alt="">
                                    </div>
                                    <div class="form-group col-10">
                                        <textarea class="form-control" name="commentText" rows="2" placeholder="Comenta algo..." required></textarea>
                                    </div>
                                    <div class="btn-group mb-3">
                                        <button type="submit" class="btn btn-primary">Comentar</button>
                                    </div>
                                </div>

                                <input type="hidden" name="postId" value="@post.Id">
                            </form>

                            @foreach(CommentViewModel com in post.Comments)
                            {
                                string comDate = Stuff.SetDate(com.Created);
                                <div class="comment d-flex align-items-center ">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="40" src="@com.User.ProfilePicture" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h6 m-0">@com.User.Name @com.User.LastName <small>- @comDate</small></div>
                                        <div class="h7">@com.Text</div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- Post /////-->
            }


            </div>
