@using Jay.Core.Application.Interfaces.Services
@using Jay.Core.Application.ViewModels.Friend
@using Microsoft.AspNetCore.Http;
@using Jay.Core.Application.Helpers;
@using Jay.Core.Application.ViewModels.User;
@inject IUserService userService;
@inject IHttpContextAccessor httpContext;
@{
    string postType = ViewData["postType"] == null ? "" : ViewData["postType"].ToString();
    UserViewModel _user = httpContext.HttpContext.Session.Get<UserViewModel>("user");

    FriendsViewModel friends = await userService.GetFriendsViewModel();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jay</title>
</head>
<body>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
<link href="~/css/Posts.css" rel="stylesheet">

        

    <nav class="navbar navbar-light bg-white">
        <div class="d-flex">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img class="rounded-circle mr-2" width="60" src="~/media/app/logo.png" alt="">
                Jay
            </a>
            <form method="get" asp-controller="Users" asp-action="Search" class="form-inline">
                <div class="input-group mr-2">
                    <input type="text" class="form-control" name="search" aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="Buscar usuario">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-flex">
            <div class="d-flex align-items-center ml-2 mr-2">
                <div class="mr-2">
                    <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@_user.Id">
                    <img class="rounded-circle" height="45" src="@_user.ProfilePicture" alt="">
                    </a>
                </div>
                <div class="ml-2">
                    <a class="text-decoration-none" asp-controller="Users" asp-action="UserDetails" asp-route-id="@_user.Id">
                    <div class="h5 text-dark text-decoration-none m-0">@_user.Name @_user.LastName</div>
                    </a>
                </div>
            </div>
            <div class="dropdown ml-2" style="margin:auto;">
                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                    @*<div class="h6 dropdown-header">Configuration</div>*@
                    <a asp-controller="Access" asp-action="LogOut" class="dropdown-item">Cerrar Sesion</a>
                </div>
            </div>
        </div>
    </nav>


    @*////////////////////Content*@
    <div class="container-fluid gedf-wrapper">
        <div class="row">

            @*///////////////////////////Left Cards*@
            <div class="col-md-3">
                <div class="card left-card">
                    <ul class="list-group list-group-flush">
                        @if (postType == "all")
                        {
                            <li class="list-group-item">
                                <div class="h5 text-primary">Ver todas las Publicaciones</div>
                            </li>
                        }else{
                        <a asp-controller="Home" asp-action="Index">
                            <li class="list-group-item">
                                <div class="h5 text-dark">Ver todas las Publicaciones</div>
                            </li>
                        </a>
                        }

                        <li class="list-group-item">
                            @if (postType == "mines")
                            {
                                <div class="h6 text-primary">Mis Publicaciones</div>
                            }else{
                            <a asp-controller="Posts" asp-action="MyPosts">
                                <div class="h6 text-muted">Mis Publicaciones</div>
                            </a>
                            }
                        </li>

                        <li class="list-group-item">
                            @if (postType == "friends")
                            {
                                <div class="h6 text-primary">Publicaciones de mis amigos</div>
                            }else{
                            <a asp-controller="Posts" asp-action="FriendPosts">
                                <div class="h6 text-muted">Publicaciones de mis amigos</div>
                            </a>
                            }
                        </li>
                    </ul>
                </div>


                <div class="card left-card">
                    <div class="card-body">
                        <div class="h5">Amigos que has agregado</div>
                    </div>
                    <ul class="list-group list-group-flush">
                        @if(friends.Users.Count>0){

                            @foreach(UserViewModel user in friends.Users){
                                string userName = "@" + user.UserName;
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="mr-2">
                                                <img class="rounded-circle" width="45" src="@user.ProfilePicture" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <div class="h6 m-0">@userName</div>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Opciones</div>
                                                <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@user.Id" class="dropdown-item">Ver Perfil</a>
                                                <a asp-controller="Home" asp-action="DeleteFriend" asp-route-id="@user.Id" class="dropdown-item text-danger">Eliminar Amigo</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="list-group-item">
                                <div class="h6">No has agregado ningun usuario</div>
                            </li>
                        }
                    </ul>

                    <div class="card-body">
                        <div class="h5">Amigos que te han agregado</div>
                    </div>

                    @if (friends.Friends.Count > 0)
                    {
                        <ul class="list-group list-group-flush">

                            @foreach (UserViewModel user in friends.Friends)
                            {
                                string userName = "@" + user.UserName;
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="mr-2">
                                                <img class="rounded-circle" width="45" src="@user.ProfilePicture" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <div class="h6 m-0">@userName</div>
                                                @*<div class="h7 text-muted">Miracles Lee Cross</div>*@
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Opciones</div>
                                                <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@user.Id" class="dropdown-item">Ver Perfil</a>
                                                <a asp-controller="Home" asp-action="DeleteFriend" asp-route-id="@user.Id" class="dropdown-item text-danger">Eliminar Amigo</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }else
                    {
                        <li class="list-group-item">
                                <div class="h6">Ningun usuario te ha agregado</div>
                            </li>
                    }
                </div>
            </div>


            @RenderBody()


            @*///////////////////////////Rights Cards*@
            @*<div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
            </div>*@



        </div>
    </div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/User.js"></script>
<!------ Include the above in your HEAD tag ---------->
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Jay - JoelGrullon12 - 2021-0612 - All rigths reserved
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
